name: Generate Contribution Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  snake:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate snake (dark)
        uses: Platane/snk@v3
        with:
          github_user_name: Suhel-Shaikh-Mohammad
          outputs: |
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark

      - name: Commit and push
        uses: EndBug/add-and-commit@v9
        with:
          add: "dist"
          message: "chore: update dark contribution snake"
          default_author: github_actions
